
#header {
  width: 100%;
  max-height: 1019px;
  min-height: 696.2px;
  height: auto;
  
  position: relative;
}

#root-menu {
  padding: 99px 121px;
  position: relative;
  z-index: 1;
  
  @media (max-width: $break-lg) {
    padding: 85px 49px;
  }
}