$color-white: #ffffff;
$color-green: #42B073;
$color-blue: #24BEFF;
$color-red: #FF632D;
$color-yellow: #FFD400;

$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1400px;