#first-content-splide {
  margin-bottom: 40px;
  padding-bottom: 46.16px;
  &.pagination-hidden {
    padding-bottom: 0;
  }

  .splide__pagination  {
    bottom: 0;
    
    li button.splide__pagination__page {
      background-color: transparent;
      width: 20px;
      height: 8px;
      border-radius: 30px;
      border: solid 1px $color-black;
      &.is-active {
        border: none;
        background-color: $color-green;
      }
    }
  }

  .splide-group {
    height: 366px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  article {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 26px;
    padding: 0 39px 36px;

    .splide-title{
      color: $color-white;
      line-height: 22px;
      display: grid;
      gap: 40px;
      h3{
        font-weight: 700;
        font-size: 18px;
      }
      span{
        font-weight: 400;
        font-size: 16px;
      }
    }

    .splide-arrow {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}