#second-content {
  padding: 0 121px 99px;
  #card-news-group {
    display: grid;
    gap: 20px;
  }
  
  .card-news {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    background-color: $color-gray;
  }

  .grid-news {
    display: grid;
    height: 100%;
    grid-template-columns: 12px 1fr;
    grid-template-rows: 1fr;
  }

  .grid-news-content {
    display: grid;
    height: 100%;
    grid-template-columns: 545px 1fr;
    grid-template-rows: 1fr;
  }

  .grid-news-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 71px;
    gap: 4px;
    h1{
      font-weight: 250;
      font-size: 80px;
      line-height: 120px;
      letter-spacing: -8%;
      color: $color-black;
    }
    
    p{
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: $color-black;
      margin-bottom: 19px;
    }
  }

  .splide.second-content-splide{
    .card-splide-group {
      height: 100%;
      min-height: 325px;
      max-width: 329px;
      width: 100%px;
    }

    .bg-image-div{
      position: relative;
      height: 163px;
    }

    .bg-image-content {
      display: grid;
      align-items: end;
    }

    .divider {
      z-index: 1;
      height: 8px;
    }
  }
}