$br-lg: 10px;
$br-md: 5px;

.hr-color{
  width: 100%;
  height: 100%;

  &.br-h-lg{
    border-radius: $br-lg 0px 0px $br-lg;
  }

  &.br-w-md{
    border-radius: 0px 0px $br-md $br-md;
  }

  &.br-full-md{
    border-radius: $br-md;
  }

  &.bg-green {
    background-color: $color-green;
  }
  &.bg-blue {
    background-color: $color-blue;
  }
  &.bg-red {
    background-color: $color-red;
  }
  &.bg-yellow {
    background-color: $color-yellow;
  }
  &.bg-brown {
    background-color: $color-brown;
  }
  &.bg-white {
    background-color: $color-white;
  }
}